<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.UserMapper">
    <insert id="addUser" parameterType="com.qf.pojo.User">
        insert into users(name,password,address)values(#{name},#{password},#{address})
    </insert>

    <delete id="deleteUser" parameterType="com.qf.pojo.User">
        delete from users where id=#{id}
    </delete>

    <update id="updateUser" parameterType="com.qf.pojo.User">
        update users set address=#{address} where id=#{id}
    </update>

    <select id="selectUserByName" parameterType="com.qf.pojo.User" resultType="java.util.Map">
        select * from users where name like concat('%',#{name},'%')
    </select>

    <select id="selectAll" resultType="com.qf.pojo.User">
        select * from users
    </select>


</mapper>
